<header>
    <img src="" alt="">
    <form action="">
        <input type="text" name="" id="">
    </form>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Categorias</a></li>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Ofertas Black Friday</a></li>
            <li><a href="">Ofertas Ciber week</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="">Carrito</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Registro</a></li>
            <li><a href="">Cyber Week</a></li>
        </ul>
    </nav>
</header>