<header>
    <div class="logo-input">
        <img src="/images/logo_bici.jpeg" alt="Logo de la bicicleteria" id="logo">
        <form action="/products" method="post" id="buscador">
            <input type="text" name="marca" id=""><i class="fa-solid fa-magnifying-glass" id="search_icon"></i>
        </form>
    </div>
    <div class="nav-header">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="">Categorias</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">Carrito</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Registro</a></li>
            </ul>
        </nav>
    </div>

</header>